* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.first-page {
  height: 100vh;
  background: linear-gradient(to bottom, gray, white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-page span {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-page {
  font-size: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.second-page button {
  padding: 15px;
  background-color: aqua;
  border-radius: 5px;
  font-size: 25px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
}

.modal-window {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  visibility: hidden;
}

.modal-content {
  height: 30%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: aliceblue;
  position: relative;
  visibility: hidden;
}

.modal-btn {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  background-color: aqua;
  cursor: pointer;
  border: none;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal-appear {
  visibility: visible;
}
